<a href="https://colab.research.google.com/github/falakj07/ExploratoryDataAnalysis-using-Python-.Falak-/blob/main/study_of_sets_and_dictionaries_in_python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Experiment No. 5
# Title -  To learn Sets and Dictonaries in python
Falak Jain
25070123047

In [ ]:
## Creation of a set
helloset = {"car", " van ", "auto"}
helloset

{' van ', 'auto', 'car'}

In [ ]:
# Duplictaes not allowed
myset = {"car","van","bus","car"}
print(myset)

{'van', 'bus', 'car'}

In [ ]:
# A set with strings , integers and boolean values
set1 = {"abc",34,True,40,"male"}
print(set1)

{True, 34, 'abc', 40, 'male'}

In [ ]:
# To check membership
myset = {"car","van","bus","auto"}
print("bus" in myset)

True

In [ ]:
# Once a set is created , you cannot replace its items
# but you can add new items
myset = {"car", "bus","van"}
myset.add("auto")
myset

{'auto', 'bus', 'car', 'van'}

In [ ]:
# Remove item
myset = {"car","van","bus","auto"}
myset.remove("auto")
myset

{'bus', 'car', 'van'}

In [ ]:
# Set operations
A = { 20, 30 ,40 ,50}
B = {40, 50, 60,70 }
print("Union:",A|B )
print("Intersection :",A & B )
print("Difference: ",A - B )
print("Symmetric Difference:", A^B)

Union: {70, 40, 50, 20, 60, 30}
Intersection : {40, 50}
Difference:  {20, 30}
Symmetric Difference: {20, 70, 60, 30}

In [ ]:
y = frozenset({"car", "van","auto"})
print(y)
print(type(y))

frozenset({'van', 'auto', 'car'})
<class 'frozenset'>

In [ ]:
# Adding or Removal of elements are not allowed in Frozenset
y = frozenset({"car", "van","auto"})
y.add("bus")

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
## Problem statement 1
participants  = {"riya ","hemant","riya","manan","hemant","shruti","monica","rachel","manan"}
newset=set(participants)
print("Unique Participants:",newset)

Unique Participants: {'manan', 'shruti', 'monica', 'hemant', 'rachel', 'riya ', 'riya'}

In [ ]:
## Problem statement 2
name = {"HEMANT","BHUVAN","AROHI"}
sub1 = {"physics", "chemistry","maths"}
sub2 = {"maths","chemistry", "hindi"}
print("Common subjects : " , sub1 & sub2 )

Common subjects :  {'maths', 'chemistry'}

In [ ]:
##  Problem Statement 3
club1 = {"naman","gitika", "bhoomi","shruti"}
club2 = {"gitika" , "bhoomi","aayush","vraj"}
print("Students who are in both clubs : " ,club1 & club2)
print("Students who are in only in one club : ",club1^club2)

Students who are in both clubs :  {'bhoomi', 'gitika'}
Students who are in only in one club :  {'shruti', 'aayush', 'vraj', 'naman'}

In [ ]:
## Problem Statement 4
allstudents = {"riya", "hemant", "manan","gitika", "rachel","monica"}

presentstudents = {"hemant","rachel","manan"}
absentstudents = allstudents - presentstudents
print("Absent Students :", absentstudents)

Absent Students : {'monica', 'riya', 'gitika'}

In [ ]:
## Problem Statement 5
course = {"python","java","C++","C","physics"}
course.remove("physics")
course

{'C', 'C++', 'java', 'python'}

## Python Dictionaries
Dictionaries are used to store data values in key:value pairs.
 Its a collection of ordered , changeble and do not allow duplicates .

In [ ]:
mydict = {
    "career" : "developer",
    "language" : "python ",
    "year" : "2026"}
mydict

{'career': 'developer', 'language': 'python ', 'year': '2026'}

In [ ]:
## Dictionary takes latest value given for key. It will not allow duplicates
mydict = {
    "brand" : "ford",
    "model" : "mustang",
    "year" : "1964 }
    mydict

SyntaxError: unterminated string literal (detected at line 5) (ipython-input-1696998916.py, line 5)

In [ ]:
## Changing/Adding  values in dictionaries
car  = {
    "brand" : "hyundai",
    "model" : "i20",
    "year" : "1964"}


car["color"] = "white"
car

{'brand': 'hyundai', 'model': 'i20', 'year': '1964', 'color': 'white'}

In [ ]:
student = {
    "prn": "25070123047",
    "name" : "falak jain",
    "branch":"E&TC",
}
print("Name:",student["name"])

Name: falak jain

In [ ]:
## Adding and Updating Elements
student["year"] = "first"
student["name"] = "Gitika"
print(student)

{'prn': '25070123047', 'name': 'Gitika', 'branch': 'E&TC', 'year': 'first'}

In [ ]:
# Removing Elements
student.pop("branch")
print("After removal:",student)

After removal: {'prn': '25070123047', 'name': 'Gitika', 'year': 'first'}

In [8]:
## Problem statement 1
product = {

"name": "cold drink",

"price": "90" , }
print("Original price : ", product)

product["price"] = "105"
print("Updated price : ",product)

Original price :  {'name': 'cold drink', 'price': '90'}
Updated price :  {'name': 'cold drink', 'price': '105'}

In [19]:
## Problem statement 2
marks = { "Jahnvi" : 95 ,
         "Hiranya": 90 ,
          "Gunjan" : 89,
          "Jui" : 89 ,
          "Shreya" : 90
           }
name = input("Enter the name :  ")
print(marks.get(name,"Student not found "))

Enter the name :  rivya
Student not found

In [49]:
## Problem statement 3
username = { "Falak": "2409",
             "Jahnvi ": "1905",

             "Hiranya": "1503",
             "Gunjan" : "2308"
            }
name = input("Enter the username: ")


pw = input("Password : ")

if username.get(name) == pw :
  print("Login successful")

else:
  print("Invalid username or password")

Enter the username: Falak
Password : 2409
Login successful

In [51]:
## Problem statement 4
marks = { "A": 85,"B":92 , "C":78}
highest = max(marks, key=marks.get)
print("highest marks : ",highest)
print("marks: ",marks[highest])

highest marks :  B
marks:  92